@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #020d18;
  color: #abb7c4;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
body.bright {
  filter: brightness(3);
}

.header {
  height: 90px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f2133;
}
.header div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 64px;
  height: 64px;
  background-color: aliceblue;
  border-radius: 50%;
  /* filter: invert(82%) sepia(15%) saturate(232%) hue-rotate(170deg) brightness(87%) contrast(91%); */
}
.logo:hover {
  animation: rotation 1s infinite linear;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main .score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  font-weight: bold;
}
.main .score span {
  color: antiquewhite;
}
.main .score span.last-turn {
  color: crimson;
}
.main .controls-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.main .controls .scoreboard-btn {
  margin: 20px;
  padding: 0 20px;
  color: #fcc16d;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 2px 0 #66afe9 inset, 0 0 2px 0px #66afe9;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.5s;
}
.main .controls .scoreboard-btn:hover {
  box-shadow: 0 0 10px 0 #66afe9 inset, 0 0 10px 4px #66afe9;
}
.main .controls .scoreboard-btn svg {
  width: 32px;
  height: 32px;
  margin-top: -5px;
  vertical-align: middle;
}
.main .controls .volume,
.main .controls .play {
  width: 32px;
  display: inline;
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  color: #abb7c4;
  font-size: 32px;
  vertical-align: middle;
  cursor: pointer;
  outline-offset: 5px;
  transition: 0.5s;
}
.main .controls .volume:hover,
.main .controls .play:hover {
  color: antiquewhite;
}

.footer-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  background-color: #0f2133;
}
.footer-container .footer-copyright {
  display: flex;
  gap: 20px;
}
.footer-container .footer-copyright a {
  text-decoration: none;
  color: #abb7c4;
  transition: 0.5s;
}
.footer-container .footer-copyright a:hover {
  color: #66afe9;
}
.footer-container .rs-logo {
  height: 39.95px;
  vertical-align: middle;
  filter: invert(82%) sepia(15%) saturate(232%) hue-rotate(170deg) brightness(87%) contrast(91%);
  transition: 0.5s;
}
.footer-container .rs-logo:hover {
  filter: invert(68%) sepia(80%) saturate(1163%) hue-rotate(178deg) brightness(94%) contrast(94%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.cards {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(6, 1fr);
  gap: 30px;
}
.cards [data-matched='true'] {
  transform: translate3d(0, 0, 0) rotateY(180deg);
}
.cards .card {
  width: 132px;
  height: 168px;
  position: relative;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition: transform 0.4s ease-out;
  border-radius: 10px;
}
.cards .card .card-back, .cards .card .card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-clip: padding-box;
  backface-visibility: hidden;
  box-shadow: -6px -6px 36px 2px rgba(0, 0, 0, 0.15) inset;
  border-radius: 10px;
}
.cards .card .card-back {
  background-color: #66afe9;
  transform: rotateY(0deg);
}
.cards .card .card-front {
  background-color: #abb7c4;
  transform: rotateY(180deg);
}
.cards .card.selected, .cards .card[data-matched='true'] {
  transform: translate3d(0, 0, 0) rotateY(180deg);
}
.cards .card[data-matched='true'] .card-front {
  animation: lightning 1s linear 0.65s, matchSuccess 0.5s ease-out 0.65s;
}
.cards .card svg {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.cards.win .card {
  animation: matchSuccess 0.5s ease-out;
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(90deg);
  transition: opacity 0.5s ease-out, transform 0s 0.2s;
  background-color: rgba(179, 210, 238, 0.96);
  color: #0f2133;
  z-index: 2;
}
.results.visible {
  opacity: 1;
  transform: rotateY(0);
  transition: opacity 0.5s ease-out, transform 0s;
}
.results img {
  width: 64px;
}
.results .grats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Lobster', cursive;
  gap: 20px;
}
.results .grats h2 {
  margin: 0;
  font-size: 52px;
}
.results .grats p {
  margin: 0;
  font-size: 24px;
  text-align: center;
}
.results .continue {
  margin: 20px;
  padding: 0 20px;
  color: #fcc16d;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 40px 40px #66afe9 inset;
  cursor: pointer;
  vertical-align: middle;
}
.results .continue:hover {
  box-shadow: 0 0 10px 0 #66afe9 inset, 0 0 10px 4px #66afe9;
}
.results .continue svg {
  width: 32px;
  height: 32px;
  margin-top: -5px;
  vertical-align: middle;
}
.results .scoreboard {
  text-align: center;
  overflow: hidden;
}
.results .scoreboard-board {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.results .scoreboard h3:hover {
  transition: 0.5s;
  cursor: pointer;
  color: #66afe9;
}
.results .scoreboard-board-item,
.results .result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.6s ease-out;
  opacity: 0;
  transform: translateX(-3000px);
}
.results .scoreboard-board-item.show,
.results .result.show {
  transition: all 0.6s ease-out;
  opacity: 1;
  transform: translateX(0);
}
.results .scoreboard-board-item > *,
.results .result > * {
  padding: 8px 12px 4px;
  margin: 6px;
  color: #0f2133;
  background-color: antiquewhite;
  border-radius: 5px;
}
.results .scoreboard-board-item span,
.results .result span {
  color: #66afe9;
}
.results .scoreboard-board-item .turns,
.results .result .turns {
  width: 107px;
}
.results .scoreboard-board-item .wins,
.results .result .wins {
  width: 101px;
}
.results .scoreboard-board-item .difficulty,
.results .result .difficulty {
  width: 178px;
}
.results .result {
  opacity: 1;
  transform: translateX(0);
}

.controls-score .difficulty {
  display: flex;
  align-items: center;
  gap: 10px;
}
#hard:checked ~ .difficulty-icon use:nth-child(1), #normal:checked ~ .difficulty-icon use:nth-child(2) {
  display: none;
}
#hard:checked ~ .difficulty-icon use:nth-child(2), #normal:checked ~ .difficulty-icon use:nth-child(1) {
  display: block;
}
.difficulty-icon {
  width: 64px;
  height: 64px;
  margin: 0 20px;
  filter: drop-shadow(0 0 4px #66afe9);
  transition: all 0.5s ease-in-out;
}
.difficulty-label {
  color: #abb7c4;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.difficulty-label:hover {
  text-shadow: 0 0 20px #66afe9;
}
#hard:checked ~ .difficulty-label-hard, #normal:checked ~ .difficulty-label-normal {
  color: #66afe9;
}

.hidden {
  display: none;
}

@keyframes lightning {
  0% {
    box-shadow: 0 0 10px 6px white;
  }
  25% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.75);
  }
  50% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0);
  }
}
@keyframes matchSuccess {
  0% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1.05);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
