$anime-time: 8s;

$box-size: 168px;
$clip-distance: 0.05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #020d18;
  color: #abb7c4;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

  &.bright {
    filter: brightness(3);
  }
}

.header {
  height: 90px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f2133;

  div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  width: 64px;
  height: 64px;
  background-color: aliceblue;
  border-radius: 50%;
  /* filter: invert(82%) sepia(15%) saturate(232%) hue-rotate(170deg) brightness(87%) contrast(91%); */

  &:hover {
    animation: rotation 1s infinite linear;
  }
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;

    span {
      color: antiquewhite;

      &.last-turn {
        color: crimson;
      }
    }
  }

  .controls-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .scoreboard-btn {
      margin: 20px;
      padding: 0 20px;
      color: #fcc16d;
      font-family: 'Lobster', cursive;
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
      border-radius: 10px;
      background-color: transparent;
      box-shadow: 0 0 2px 0 #66afe9 inset, 0 0 2px 0px #66afe9;
      // background-color: #66afe9;
      cursor: pointer;
      vertical-align: middle;

      &:hover {
        box-shadow: 0 0 10px 0 #66afe9 inset, 0 0 10px 4px #66afe9;
      }

      svg {
        width: 32px;
        height: 32px;
        margin-top: -5px;
        vertical-align: middle;
      }
    }

    .volume,
    .play {
      width: 32px;
      display: inline;
      background: none;
      border: none;
      padding: 0;
      border-radius: 50%;
      color: #abb7c4;
      font-size: 32px;
      vertical-align: middle;
      cursor: pointer;
      outline-offset: 5px;

      &:hover {
        color: antiquewhite;
      }
    }
  }
}

.footer-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  background-color: #0f2133;

  .footer-copyright {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: #abb7c4;
      transition: 0.5s;
    }

    a:hover {
      color: #66afe9;
    }
  }

  .rs-logo {
    height: 39.95px;
    vertical-align: middle;
    filter: invert(82%) sepia(15%) saturate(232%) hue-rotate(170deg) brightness(87%) contrast(91%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
  // grid-area: 1/1/6/6;
  gap: 30px;

  [data-matched='true'] {
    transform: translate3d(0, 0, 0) rotateY(180deg);
  }

  .card {
    width: 132px;
    height: 168px;
    position: relative;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    transition: transform 0.4s ease-out;
    border-radius: 10px;

    %card-shared {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-clip: padding-box;
      backface-visibility: hidden;
      box-shadow: -6px -6px 36px 2px rgba(0, 0, 0, 0.15) inset;
      border-radius: 10px;
      // transition: transform 0.5s ease-in-out 0s;
    }

    .card-back {
      @extend %card-shared;
      background-color: #66afe9;
      transform: rotateY(0deg);
      // border: 30px solid;
      // border-image: url('./assets/svg/celtic-knot.svg') 800 305 round;
    }

    .card-front {
      @extend %card-shared;
      background-color: #abb7c4;
      transform: rotateY(180deg);
    }

    &.selected,
    &[data-matched='true'] {
      transform: translate3d(0, 0, 0) rotateY(180deg);
    }

    &[data-matched='true'] .card-front {
      animation: lightning 1s linear 0.65s, matchSuccess 0.5s ease-out 0.65s;
    }

    svg {
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }

  &.win .card {
    animation: matchSuccess 0.5s ease-out;
  }
}

.results {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotateY(90deg);
  transition: opacity 0.5s ease-out, transform 0s 0.2s;
  background-color: rgba(179, 210, 238, 0.96);
  color: #0f2133;
  // z-index: 2;

  &.visible {
    opacity: 1;
    transform: rotateY(0);
    transition: opacity 0.5s ease-out, transform 0s;
  }

  img {
    width: 64px;
  }

  .grats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Lobster', cursive;
    gap: 20px;

    h2 {
      margin: 0;
      font-size: 52px;
    }

    p {
      margin: 0;
      font-size: 24px;
      text-align: center;
    }
  }

  .continue {
    margin: 20px;
    padding: 0 20px;
    color: #fcc16d;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 40px 40px #66afe9 inset;
    // background-color: #66afe9;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      box-shadow: 0 0 10px 0 #66afe9 inset, 0 0 10px 4px #66afe9;
    }

    svg {
      width: 32px;
      height: 32px;
      margin-top: -5px;
      vertical-align: middle;
    }
  }

  .scoreboard {
    text-align: center;
    overflow: hidden;

    &-board {
      display: none;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    & h3:hover {
      cursor: pointer;
      color: #66afe9;
    }
  }
  .scoreboard-board-item,
  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.6s ease-out;
    opacity: 0;
    transform: translateX(-3000px);

    &.show {
      transition: all 0.6s ease-out;
      opacity: 1;
      transform: translateX(0);
    }

    & > * {
      padding: 8px 12px 4px;
      margin: 6px;
      color: #0f2133;
      background-color: antiquewhite;
      border-radius: 5px;
    }
    & span {
      color: #66afe9;
    }

    .turns {
      width: 107px;
    }

    .wins {
      width: 101px;
    }

    .difficulty {
      width: 178px;
    }
  }

  .result {
    opacity: 1;
    transform: translateX(0);
  }
}
.difficulty {
  display: flex;
  align-items: center;
  gap: 10px;

  #hard:checked ~ &-icon use:nth-child(1),
  #normal:checked ~ &-icon use:nth-child(2) {
    display: none;
  }

  #hard:checked ~ &-icon use:nth-child(2),
  #normal:checked ~ &-icon use:nth-child(1) {
    display: block;
  }

  &-icon {
    width: 64px;
    height: 64px;
    margin: 0 20px;
    filter: drop-shadow(0 0 4px #66afe9);
  }

  &-label {
    color: #abb7c4;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
  }

  #hard:checked ~ &-label-hard,
  #normal:checked ~ &-label-normal {
    color: #66afe9;
  }
}

.hidden {
  display: none;
}

@keyframes lightning {
  0% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 1);
  }
  25% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.75);
  }
  50% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0);
  }
}

@keyframes matchSuccess {
  0% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1.05);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(180deg) scale(1);
  }
}
