:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font1: 60px;
  --font2: 40px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: var(--font2);
  font-weight: 400;
  line-height: 50px;
  color: var(--color-white);
  background-color: #000;
  overflow-y: scroll;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.section {
  padding: 0 20px;
}

.header-container {
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
  width: 500px;
  margin-left: auto;
  margin-right: 31px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.nav-item {
  padding-left: 31px;
}

.nav-link {
  line-height: 50px;
  text-decoration: none;
  color: var(--color-white);
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--color-gold);
}

.switch-lng {
  width: 70px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-white);
}

.switch-lng span {
  cursor: pointer;
  transition: 0.5s;
}

.switch-lng span:hover {
  color: var(--color-gold);
}

.lng-active {
  font-weight: bold;
  color: var(--color-gold);
}

.hero-container {
  margin: 0 -20px;
  background-image: url("./assets/img/header-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--color-white);
}

.logo {
  width: 50px;
  height: 50px;
  fill: var(--color-white);
}

.icon:hover,
.logo:hover {
  fill: var(--color-gold);
}

.hero-text {
  width: 550px;
  height: 820px;
  padding: 160px 0 330px 80px;
}

.hero-text h1 {
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: var(--font1);
  line-height: 120px;
}

.hero-text p {
  margin-top: 10px;
  font-size: 20px;
  line-height: 40px;
}

.gold-btn {
  width: 220px;
  height: 55px;
  border: 0;
  padding: 8px 0 7px 0;
  background-color: var(--color-gold);
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
}

.gold-btn:hover {
  color: var(--color-white);
}

.black-btn {
  width: 220px;
  height: 55px;
  padding: 8px 0 7px 0;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  background-color: transparent;
}

.black-btn:hover {
  color: var(--color-white);
}

.title-wrapper {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}

.section-title {
  width: 700px;
  margin: 100px 0 60px 0;
  font-family: "Merriweather", serif;
  font-size: 40px;
  line-height: 80px;
  color: var(--color-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-title::before {
  content: "";
  border-top: 2px solid var(--color-gold);
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.section-title::after {
  content: "";
  border-top: 2px solid var(--color-gold);
  margin: 0 0 0 20px;
  flex: 1 0 20px;
}

.skills-items {
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  width: 320px;
  height: 240px;
  background-position: center top;
  background-repeat: no-repeat;
}

.skill-item:nth-child(1) {
  background-image: url("./assets/svg/camera.svg");
  background-size: 62px 50px;
}

.skill-item:nth-child(2) {
  background-image: url("./assets/svg/video.svg");
  background-size: 60px 50px;
}

.skill-item:nth-child(3) {
  background-image: url("./assets/svg/image.svg");
  background-size: 66px 50px;
}

.skill-item:nth-child(4) {
  background-image: url("./assets/svg/mic.svg");
  background-size: 32px 50px;
}

.camera {
  width: 62px;
  height: 50px;
  fill: var(--color-gold);
}

.skill-item-header {
  margin: 0;
  padding-top: 100px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.skill-item-text {
  width: 280px;
  margin: 20px 0 8px 20px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.portfolio-btns {
  width: 895px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}

.portfolio-items {
  width: 1400px;
  margin: 60px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio-item {
  width: 450px;
  height: 560px;
}

.video-player {
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/video-player.jpg");
}

.video-player-btn {
  width: 129.86px;
  height: 130px;
  background: url("./assets/svg/Play_hover.svg") no-repeat;
  border-style: none;
  filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(107%);
  cursor: pointer;
}

.video-player-btn:hover {
  filter: invert(73%) sepia(31%) saturate(324%) hue-rotate(7deg) brightness(91%) contrast(87%);
}

.price-items {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-item {
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #bdae82;
}

.price-item-header {
  margin: 40px 0 20px 0;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  color: var(--color-white);
}

.price-item-amount {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: var(--color-gold);
}

.price-item-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: var(--color-white);
  list-style: none;
}

.price-item .gold-btn {
  margin-top: 40px;
}

.contacts-container {
  width: 1440px;
  height: 700px;
  padding: 0;
  margin-top: 100px;
  margin-left: -20px;
  background: url("./assets/img/contacts-bg.jpg");
  background-size: auto 700px;
  background-position: center center;
}

.contacts-form {
  margin-left: auto;
  margin-right: 20px;
  width: 450px;
  height: 445px;
}

.contacts-title {
  margin-bottom: 40px;
  padding-top: 60px;
  font-family: "Merriweather", serif;
  font-size: 40px;
  line-height: 80px;
  color: var(--color-gold);
}

.contacts-inputs {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-input {
  width: 450px;
  height: 50px;
  padding: 3px 18px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  background: rgba(0, 0, 0, 0.5);
}

.contacts-input::placeholder {
  z-index: 1;
  color: var(--color-gold);
}

textarea.contacts-input {
  width: 450px;
  height: 100px;
  padding-top: 3px;
  padding-left: 18px;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  background: rgba(0, 0, 0, 0.5);
}

.footer-container {
  height: 150px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: var(--color-white);
}

.footer-container > *:nth-child(2) {
  padding-left: 20px;
}

.footer-copyright {
  display: flex;
  gap: 20px;
}

.footer-container a {
  text-decoration: none;
  color: var(--color-white);
}

.footer-container a:hover {
  color: var(--color-gold);
}

.socials-items {
  display: flex;
  gap: 20px;
}

.socials-item {
  width: 32px;
  fill: var(--color-white);
  cursor: pointer;
}

.socials-item:hover {
  fill: var(--color-gold);
}
