:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font1: 60px;
  --font2: 40px;
  --padding: 75px;
}

/* @media (max-width: 1024px) {
  :root {
    --font1: 50px;
    --padding: 60px;
  }
} */

@media (max-width: 768px) {
  :root {
    --font1: 40px;
    --padding: 40px;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  /* min-width: 320px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: var(--font2);
  font-weight: 400;
  line-height: 50px;
  color: var(--color-white);
  background-color: #000;
  overflow-y: scroll;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* .section {
  padding: 0;
} */

.header-container {
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.logo:hover {
  fill: var(--color-gold);
}

.header-menu {
  margin-left: auto;
}

.nav {
  margin-right: 31px;
  transition: all 300ms linear;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.nav-item {
  padding-left: 31px;
}

.nav-link {
  line-height: 50px;
  text-decoration: none;
  color: var(--color-white);
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--color-gold);
}

.switch-lng {
  width: 70px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-white);
}

.switch-lng span {
  cursor: pointer;
  transition: 0.5s;
}

.switch-lng span:hover {
  color: var(--color-gold);
}

.lng-active {
  font-weight: bold;
  color: var(--color-gold);
}

.hero-container {
  height: 820px;
  margin: 0 -20px;
  background-image: url("./assets/img/header-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--color-white);
  transition: 0.5s;
}

.logo {
  width: 50px;
  height: 50px;
  fill: var(--color-white);
  transition: 0.5s;
}

.icon:hover,
.logo:hover {
  fill: var(--color-gold);
}

.hero-text {
  max-width: 500px;
  margin-left: 80px;
  padding-top: 160px;
}

.hero-text h1 {
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: var(--font1);
  line-height: 120px;
}

.hero-text p {
  max-width: 470px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 40px;
}

.gold-btn {
  width: 220px;
  height: 55px;
  border: 0;
  padding: 8px 0 7px 0;
  background-color: var(--color-gold);
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
  transition: 0.5s;
}

.gold-btn:hover,
.black-btn.selected:hover {
  color: var(--color-white);
}

.black-btn {
  width: 220px;
  height: 55px;
  padding: 8px 0 7px 0;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  background-color: transparent;
  transition: 0.5s;
}

.black-btn:hover,
.black-btn:focus:hover {
  color: var(--color-white);
}

.black-btn:focus,
.black-btn.selected {
  color: var(--color-black);
  background-color: var(--color-gold);
}

.title-wrapper {
  width: 50%;
  margin: 0 auto;
  overflow-x: hidden;
}

.section-title {
  margin: 100px 0 60px 0;
  font-family: "Merriweather", serif;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  background-color: var(--color-black);
  color: var(--color-gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title:before,
.section-title:after {
  background-color: var(--color-gold);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  width: 50%;
}

.section-title:before {
  right: 0.5em;
}

.section-title:after {
  left: 0.5em;
}

.skills-items {
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  width: 320px;
  height: 240px;
  background-position: center top;
  background-repeat: no-repeat;
}

.skill-item:nth-child(1) {
  background-image: url("./assets/svg/camera.svg");
  background-size: 62px 50px;
}

.skill-item:nth-child(2) {
  background-image: url("./assets/svg/video.svg");
  background-size: 60px 50px;
}

.skill-item:nth-child(3) {
  background-image: url("./assets/svg/image.svg");
  background-size: 66px 50px;
}

.skill-item:nth-child(4) {
  background-image: url("./assets/svg/mic.svg");
  background-size: 32px 50px;
}

.camera {
  width: 62px;
  height: 50px;
  fill: var(--color-gold);
}

.skill-item-header {
  margin: 0;
  padding-top: 100px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.skill-item-text {
  width: 280px;
  margin: 20px 0 8px 20px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.portfolio-btns {
  max-width: 895px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.portfolio-items {
  max-width: 1400px;
  margin: 60px auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.portfolio-item {
  max-width: 450px;
  max-height: 560px;
}

.video-player {
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/video-player.jpg");
}

.video-player-btn {
  width: 129.86px;
  height: 130px;
  background: url("./assets/svg/Play_hover.svg") no-repeat;
  border-style: none;
  filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(134deg) brightness(107%) contrast(107%);
  cursor: pointer;
  transition: 0.5s;
}

.video-player-btn:hover {
  filter: invert(73%) sepia(31%) saturate(324%) hue-rotate(7deg) brightness(91%) contrast(87%);
}

.price-items {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.price-item {
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #bdae82;
}

.price-item-header {
  margin: 40px 0 20px 0;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  color: var(--color-white);
}

.price-item-amount {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: var(--color-gold);
}

.price-item-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: var(--color-white);
  list-style: none;
}

.price-item .gold-btn {
  margin-top: 40px;
}

.contacts-container {
  max-width: 1440px;
  height: 700px;
  padding: 0;
  margin: 0 -20px;
  background: url("./assets/img/contacts-bg.jpg");
  background-size: auto 100%;
  background-position: center center;
}

.contacts-form {
  margin-left: auto;
  margin-right: 20px;
  max-width: 450px;
  height: 445px;
}

.contacts-title {
  margin-bottom: 40px;
  padding-top: 60px;
  font-family: "Merriweather", serif;
  font-size: 40px;
  line-height: 80px;
  color: var(--color-gold);
}

.contacts-inputs {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-input {
  max-width: 450px;
  height: 50px;
  padding: 3px 18px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  background: rgba(0, 0, 0, 0.5);
}

.contacts-input::placeholder {
  z-index: 1;
  color: var(--color-gold);
}

.contacts-form > button {
  display: block;
}

textarea.contacts-input {
  max-width: 450px;
  height: 100px;
  padding-top: 3px;
  padding-left: 18px;
  resize: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  background: rgba(0, 0, 0, 0.5);
}

.footer-container {
  height: 150px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: var(--color-white);
}

.footer-container > *:nth-child(2) {
  padding-left: 60px;
}

.footer-copyright {
  display: flex;
  gap: 20px;
}

.footer-container a {
  text-decoration: none;
  color: var(--color-white);
  transition: 0.5s;
}

.footer-container a:hover {
  color: var(--color-gold);
}

.socials-items {
  height: 150px;
  margin: 0px;
  display: flex;
  gap: 20px;
  list-style: none;
}
.socials-items a {
  height: 100%;
  display: block;
}

.socials-item {
  width: 32px;
  height: 100%;
  fill: var(--color-white);
  cursor: pointer;
  transition: 0.5s;
}

.socials-item:hover {
  fill: var(--color-gold);
}

.hamburger {
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background: var(--color-white);
  margin: 5px 0;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover > .line {
  background: var(--color-gold);
}

.hamburger.open .line1 {
  width: 60px;
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line3 {
  width: 60px;
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 1440px) {
  .skills-items {
    justify-content: space-around;
  }

  .nav-list {
    display: flex;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    max-width: 768px;
  }

  .header-container {
    padding: 0 64px 0 60px;
    background: url("./assets/img/header-tablet-bg.jpg");
    background-position: center 0;
  }

  .hero-container {
    margin: 0;
    max-width: 768px;
    max-height: 500px;
    background: url("./assets/img/header-tablet-bg.jpg");
    background-position: center -90px;
  }

  .switch-lng {
    /* padding-left: 442px; */
    position: absolute;
    right: 146px;
    flex-grow: 1;
  }

  .switch-lng span:not(.lng-active)::before {
    content: "\00a0\00a0";
  }

  .hamburger {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 64px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 2;
  }

  .header-menu {
    order: 1;
  }

  .nav {
    /* width: 84.375vw;     */
    width: 100%;
    position: fixed;
    right: -620px;
    top: 0;
  }

  .nav-list {
    position: absolute;
    z-index: 1;
    right: -620px;
    overflow-x: hidden;
    /* display: none; */
    flex-direction: column;
    transition: all 300ms linear;
  }

  .nav.open {
    max-width: 620px;
    display: block;
    right: 0;
    margin-right: 0px;
    z-index: 1;
  }

  .nav.open .nav-list {
    /* max-width: 620px; */
    height: 100vh;
    margin: 0;
    padding: 134px 0 0 96px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 16px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    background-color: var(--color-black);
  }

  .nav.open .nav-list a {
    font: 35px "Inter";
    line-height: 73px;
  }

  .hamburger.open {
    right: 64px;
    transition: 0.5s;
  }

  .hero-text {
    margin-left: 60px;
    padding-top: 78px;
  }

  .hero-text h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
  }

  .hero-text p {
    max-width: 390px;
    margin-top: 20px;
    line-height: 24px;
  }

  .hero-container button {
    margin-top: 40px;
  }

  .title-wrapper {
    width: 47.5%;
  }

  .section-title {
    margin: 80px 0 50px 0;
    font-size: 32px;
    line-height: 80px;
  }

  .section-title:before {
    right: 20px;
  }

  .section-title:after {
    left: 20px;
  }

  .skills-items {
    margin: -14px 20px 4px 20px;
    padding: 9px 0 0 40px;
    justify-content: center;

    /*row-gap: 36px;
    column-gap: 44px; */
  }

  .skill-item {
    margin: 0 44px 36px 0;
    max-width: 300px;
    height: 224px;
  }

  .skill-item-header {
    margin: 0;
    padding-top: 80px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

  .skill-item-text {
    max-width: 280px;
    margin: 20px 10px 40px 10px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .portfolio-btns {
    max-width: 445px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .portfolio-item > img {
    max-width: 100%;
    max-height: 100%;
  }

  .video-player {
    height: 418px;
    position: relative;
    background-image: url("./assets/img/video-player-tablet.jpg");
  }

  .video-player-btn {
    position: absolute;
    width: 75px;
    height: 75px;
    margin: 171px 347px 172px 346px;
    background-size: 64.62px 64.69px;
    background-position: top 6px right 6px;
  }

  .price-items {
    margin-bottom: 80px;
    gap: 50px;
  }

  .price-item {
    max-width: 420px;
  }

  .contacts-container {
    max-height: 600px;
    margin: 0;
  }

  .contacts-form {
    max-width: 450px;
    height: 429px;
    margin: 0 auto;
  }

  .contacts-title {
    font-size: 32px;
    line-height: 64px;
    text-align: center;
  }

  .contacts-form > button {
    margin: 0 auto;
  }

  .footer-container {
    margin-bottom: 40px;
    padding-top: 28px;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
    gap: 16px;
  }

  .footer-copyright {
    display: flex;
    gap: 20px;
  }

  .footer-container > *:nth-child(2) {
    padding-left: 0;
  }

  .socials-items {
    height: 50px;
    padding: 0;
  }

  .socials-item {
    padding-top: 9px;
  }
}
