* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  width: 300px;
}

.movie-card img {
  width: 100%;
}

.info {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
