* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #020d18;
  color: #abb7c4;
  font-size: 18px;
  overflow-x: hidden;
}

.header {
  height: 90px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f2133;
}

.logo {
  width: 32px;
  filter: invert(82%) sepia(15%) saturate(232%) hue-rotate(170deg) brightness(87%) contrast(91%);
}

.logo:hover {
  animation-duration: 1s;
  animation-name: spin;
  animation-timing-function: ease-out;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#search-form {
  /* width: 80%; */
  margin: 10px;
}

.search-input {
  padding: 0 10px;
  background-color: #0f2133;
  border: 2px solid #abb7c4;
  border-radius: 50px;
  color: #abb7c4;
  font-size: 18px;
  font-weight: 700;
}

.search-input::-webkit-search-cancel-button {
  cursor: pointer;
}

.search-input:focus,
.movie-card:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 25px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 25px rgb(102 175 233 / 60%);
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.movie-card {
  width: 300px;
  margin: 10px;
  transition: 1s;
}

.img-desc img {
  /* -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4)); */
  width: 100%;
}
.img-desc {
  position: relative;
}

.movie-card:hover {
  transform: scale(1.025);
}

.movie-card:hover .info-title h3 {
  color: aqua;
}

.info {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info-title {
  width: 80%;
}

.info-title h3 {
  margin: 0;
  display: inline;
  transition: 1s;
}

.footer-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  background-color: #0f2133;
}

.footer-copyright {
  display: flex;
  gap: 20px;
}

.footer-container a {
  text-decoration: none;
  color: #abb7c4;
  transition: 0.5s;
}

.footer-container a:hover {
  color: #66afe9;
}

.api-logo {
  width: 50px;
  height: 39.95px;
  vertical-align: middle;
}

.rs-logo {
  height: 39.95px;
  vertical-align: middle;
  filter: invert(82%) sepia(15%) saturate(232%) hue-rotate(170deg) brightness(87%) contrast(91%);
}

i {
  color: #f5b50a;
}

.movie-card {
  position: relative;
  overflow: hidden;
}

.desc-text {
  /* margin-bottom: 68px; */
  max-height: 50%;
  padding: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transform: translateY(161%);
  background-color: #020d18;
  opacity: 0.95;
  transition: transform 0.5s ease-in;
}

.movie-card:hover .desc-text {
  transform: translateY(-2%);
}

.desc-text h3 {
  margin: 10px 0;
}
